.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  --search-border-radius: 92px;
  width: 361px;
  height: var(--search-height);
  background-color: rgba(22, 44, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: #000;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    caret-color: var(--primary);
    font-family: var(--font-family);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    // sudo element
    content: '';
    position: absolute;
    height: calc(var(--search-height) - 9px * 2);
    background-color: rgba(22, 24, 35, 0.24);
    width: 1px;
    top: var(--search-top-space);
    right: var(--search-button-width);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  color: rgba(22, 24, 35, 0.5);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px;
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  animation: spinAnimation 0.8s linear infinite;
}

@keyframes spinAnimation {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.more-btn {
  font-size: 2rem;
  margin-left: 18px;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}
