@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

//fonts
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/TikTokFont-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
  font-weight: 700;
}

body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

:root {
  --primary: #fe2c55;
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-height: 60px;
  --default-layout-horizontal-spacer: 24px;
  --black: #000;
  --text-color: #161823;
  --white: #fff;
}

body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .tippy-arrrow {
    color: #333;
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrrow::before {
    top: -8px;
  }
}
